<!-- Título con estilo -->
<h2 class="title">Lista de Fincas</h2>

<div class="top-container">
  <!-- Campo de búsqueda -->
  <div class="search-container">
    <input type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()"
      class="form-control input-field" />
  </div>  
  
  <div class="export-container">
    <!-- Selector de ítems por página -->
    <div class="items-per-page">
      <label for="itemsPerPage">Mostrar:</label>
      <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
        <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
  
    <!-- Select para exportar -->
    <div class="export-select">
      <ng-select (change)="handleExport($event)" [placeholder]="'Exportar Como'" [clearable]="true" [searchable]="false">
        <ng-option value="pdf" class="custom-option">
          <div class="option-container">
            <i class="fas fa-file-pdf"></i>
            <span class="custom-option-text">PDF</span>
          </div>
        </ng-option>
        <ng-option value="excel" class="custom-option">
          <div class="option-container">
            <i class="fas fa-file-excel"></i>
            <span class="custom-option-text">Excel</span>
          </div>
        </ng-option>
      </ng-select>
    </div>
  </div>

  <!-- Botón para agregar un nuevo módulo -->
  <button class="btn btn-success add-btn" (click)="openModal()">Agregar nuevo <i class="fas fa-plus"></i></button>
</div>

<!-- Modal para agregar o editar una finca -->
<div id="farmModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ farm.id === 0 ? 'Agregar finca' : 'Editar finca' }}</h2>

        <hr class="modal-border">

        <form #farmForm="ngForm" (ngSubmit)="onSubmit(farmForm)">
            <input type="hidden" name="id" [(ngModel)]="farm.id">

            <div class="row">
                <div class="col">
                    <label for="Name">Nombre de la finca:</label>
                    <input type="text" class="form-control input-field" id="Name" name="Name" [(ngModel)]="farm.name"
                        required>
                </div>

                <div class="col">
                    <label for="Addres">Dirección:</label>
                    <input type="text" class="form-control input-field" id="Addres" name="Addres"
                        [(ngModel)]="farm.addres" required>
                </div>
            </div>

            <div class="row">
              <div class="col">
                  <label for="moduloName">Ciudad:</label>
                  <input type="text" class="form-control input-field" matInput [matAutocomplete]="auto" [(ngModel)]="farm.cityName" name="cityName"
                          (input)="searchCitys($event)" required>
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCitySelect($event)">
                          <mat-option *ngFor="let city of filteredCitys" [value]="city.name">
                              {{ city.name }}
                          </mat-option>
                      </mat-autocomplete>
              </div>

                <div class="col">
                    <label for="UserId">Usuario asignado:</label>
                    <input type="text" class="form-control input-field" id="UserId" name="UserId"
                        [ngbTypeahead]="searchUsers" [inputFormatter]="formatUser" [resultFormatter]="formatUser"
                        (selectItem)="onUserSelect($event)" [ngModel]="getUserName(farm.userId)" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="Dimension">Dimensión:</label>
                    <input type="number" class="form-control input-field" id="Dimension" name="Dimension"
                        [(ngModel)]="farm.dimension" required>
                </div>
            </div>

            <div class="row">
              <div class="col" *ngIf="farm.id !== 0">
                    <label for="State">Estado:</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="State" name="State"
                            [(ngModel)]="farm.state">
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col">
                    <label for="farm">Cultivo:</label>
                    <p-multiSelect id="selectedCropId" name="selectedCropId" [options]="crops"
                    [(ngModel)]="selectedCropId" optionLabel="name" placeholder="Selecciona cultivos"
                    scrollHeight="250px" display="chip"
                    (onChange)="onFarmChange($event)">
                </p-multiSelect>
                </div>

                <!-- Sección para agregar hectáreas de cultivos seleccionados -->
                <div *ngIf="selectedCropId.length > 0">
                <h5>Cultivos Seleccionados</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Cultivo</th>
                            <th>Número de hectáreas</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lot of farm.lots; let i = index">
                            <td>{{ lot.name }}</td>
                            <td>
                                <input type="number" [(ngModel)]="lot.num_hectareas" name="num_hectareas-{{i}}"
                                    class="form-control" placeholder="Ingrese número de hectáreas" required>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="removeLot(lot.id)">
                                  <i class="fas fa-trash"></i>
                                </button>
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
    </div>
    </form>
</div>
</div>

<!-- Tabla de Fincas -->
<table *ngIf="filteredFarms. length > 0" class="table">
    <thead>
        <tr>
          <th>
            <input 
              type="checkbox" 
              (change)="selectAll($event)" 
              [checked]="areAllSelected()" 
            />
          </th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>Usuario</th>
            <th>Dimensión</th>
            <th>Lote</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let farm of paginatedFarm()">
          <td>
            <label class="checkbox-container">
              <input type="checkbox" [(ngModel)]="farm.selected" />
              <div class="checkbox-custom"></div>
            </label>
          </td>
            <td>{{ farm.name }}</td>
            <td>{{ farm.addres }}</td>
            <td>{{ getCityName(farm.cityId) }}</td>
            <td>{{ getUserName(farm.userId) }}</td>
            <td>{{ farm.dimension }}</td>
            <td>
                <ul>
                    <li *ngFor="let lot of farm.lots">
                        {{ lot.cultivo }} - Núm-hectareas: {{ lot.num_hectareas }}
                    </li>
                </ul>
            </td>
            <td>{{ farm.state ? 'Activo' : 'Inactivo' }}</td>
            <td>
                <button class="btn-icon edit" (click)="editFarm(farm)" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn-icon delete" (click)="deleteFarm(farm.id)" title="Eliminar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Mensaje para cuando no haya fincas -->
<p *ngIf="filteredFarms.length === 0">No se encontraron fincas.</p>
<div class="data-table-footer">
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1" class="arrow">
      &laquo; <!-- Flecha izquierda -->
    </button>
  
    <ng-container *ngFor="let page of getPageNumbers()">
      <button 
        (click)="goToPage(page)" 
        [class.active]="currentPage === page"
      >
        {{ page }}
      </button>
    </ng-container>
  
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="arrow">
      &raquo; <!-- Flecha derecha -->
    </button>
  </div>
  
  <!-- Eliminar seleccionados -->
  <div class="delete-selected-container">
    <button 
      class="btn btn-danger" 
      (click)="deleteSelected()" 
      [disabled]="!hasSelected()"
    >
      <i class="fas fa-trash"></i> Eliminar seleccionados
    </button>
  </div>
</div>