<h2 class="title">Lista de Tratamientos</h2>

<div class="top-container">
  <!-- Campo de búsqueda -->
  <div class="search-container">
    <input type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()"
      class="form-control input-field" />
  </div>  
  
  <div class="export-container">
    <!-- Selector de ítems por página -->
    <div class="items-per-page">
      <label for="itemsPerPage">Mostrar:</label>
      <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
        <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
  
    <!-- Select para exportar -->
    <div class="export-select">
      <ng-select (change)="handleExport($event)" [placeholder]="'Exportar Como'" [clearable]="true" [searchable]="false">
        <ng-option value="pdf" class="custom-option">
          <div class="option-container">
            <i class="fas fa-file-pdf"></i>
            <span class="custom-option-text">PDF</span>
          </div>
        </ng-option>
        <ng-option value="excel" class="custom-option">
          <div class="option-container">
            <i class="fas fa-file-excel"></i>
            <span class="custom-option-text">Excel</span>
          </div>
        </ng-option>
      </ng-select>
    </div>
  </div>

  <!-- Botón para agregar un nuevo módulo -->
  <button class="btn btn-success add-btn" (click)="openModal()">Agregar nuevo <i class="fas fa-plus"></i></button>
</div>

<div id="treatmentModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ treatment.id === 0 ? 'Agregar tratamiento' : 'Editar tratamiento' }}</h2>

        <hr class="modal-border">


        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <input type="hidden" name="id" [(ngModel)]="treatment.id">

            <div class="row">
                <div class="col">
                    <label for="DateTreatment">Fecha de tratamiento:</label>
                    <input type="date" class="form-control" id="DateTreatment" name="dateTreatment"
                        [(ngModel)]="treatment.dateTreatment" required>
                </div>

                <div class="col">
                    <label for="typetreatment">Tipo de tratamiento:</label>
                    <select class="form-control" id="typetreatment" name="typeTreatment"
                        [(ngModel)]="treatment.typeTreatment" required>
                        <option value="" disabled selected>Seleccione el tipo de tratamiento</option>
                        <option value="Fertilizacion">Fertilización</option>
                        <option value="Fumigacion">Fumigación</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="QuantityMix">Cantidad de mezcla:</label>
                    <input type="text" class="form-control" id="QuantityMix" name="quantityMix"
                        [(ngModel)]="treatment.quantityMix" required>
                </div>

                <div class="col" *ngIf="treatment.id !== 0">
                    <label for="State">Estado:</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="State" name="state"
                            [(ngModel)]="treatment.state">
                        <label class="form-check-label" for="State"></label>
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="col">
                        <label for="selectedLots">Seleccionar Lotes:</label>
                        <p-multiSelect id="selectedLots" name="selectedLots"
                            [options]="farms"
                            [(ngModel)]="selectedLots"
                            optionLabel="cultivo"
                            [ngModelOptions]="{standalone: true}"
                            placeholder="Selecciona lotes"
                            scrollHeight="150px"
                            display="chip">
                            <ng-template let-farm pTemplate="item">
                                <div>
                                    <strong>Finca: {{ farm.farmName }}</strong> - Cultivo: {{ farm.cultivo }}
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>
                    <p *ngIf="farms.length === 0">No hay lotes disponibles.</p>
    
                    <div class="col">
                        <label for="selectedSupplies">Seleccionar Insumos:</label>
                        <p-multiSelect id="selectedSupplies" name="selectedSupplies" 
                            [options]="supplies" [(ngModel)]="selectedSupplies"
                            optionLabel="name" placeholder="Seleccione suministros"
                            scrollHeight="150px" display="chip"
                            (onChange)="onSuppliesChange($event)">
                        </p-multiSelect>
                    </div>
                </div>
    
                <!-- Sección para agregar insumos con sus dosis -->
                <div *ngIf="selectedSupplies.length > 0">
                    <h5>Insumos Seleccionados</h5>
    
                    
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Insumo</th>
                                <th>Dosis</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let supply of treatment.supplieList; let i = index">
                                <td>{{ supply.name }}</td>
                                <td>
                                    <input type="text" [(ngModel)]="supply.dose" name="dose-{{i}}" class="form-control" placeholder="Ingrese dosis">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="removeSupplie(supply.id)">
                                      <i class="fas fa-trash"></i>
                                    </button>
                                  </td>
        
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
    
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                <button type="submit" class="btn btn-primary">
                    {{ isEditing ? 'Actualizar' : 'Guardar' }}
                  </button>
            </div>
      
        </form>
    </div>
</div>

<table *ngIf="filteredTreatment.length > 0" class="table">
    <thead>
        <tr>
            <th>
                <input 
                  type="checkbox" 
                  (change)="selectAll($event)" 
                  [checked]="areAllSelected()" 
                />
              </th>
            <th>Fecha</th>
            <th>Tipo de tratamiento</th>
            <th>Cantidad de mezcla</th>
            <th>Lotes</th>
            <th>Insumos</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let treatment of paginatedTreatment()">
            <td>
                <label class="checkbox-container">
                  <input type="checkbox" [(ngModel)]="treatment.selected" />
                  <div class="checkbox-custom"></div>
                </label>
              </td>
            <td>{{ treatment.dateTreatment }}</td>
            <td>{{ treatment.typeTreatment }}</td>
            <td>{{ treatment.quantityMix }}</td>
            <td>
                <ul>
                    <li *ngFor="let lotId of treatment.lotList">
                        {{ lotId.lot }}
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li *ngFor="let supply of treatment.supplieList">
                        {{ supply.supplie }} - Dosis: {{ supply.dose }}
                    </li>
                </ul>
            </td>
            <td>{{ treatment.state ? 'Activo' : 'Inactivo' }}</td>
            <td>
                <button class="btn-icon edit" (click)="editTreatment(treatment)" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn-icon delete" (click)="deleteTreatment(treatment.id)" title="Eliminar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<p *ngIf="filteredTreatment.length === 0">No se encontraron tratamientos.</p>
<div class="data-table-footer">
    <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1" class="arrow">
      &laquo; <!-- Flecha izquierda -->
    </button>
  
    <ng-container *ngFor="let page of getPageNumbers()">
      <button 
        (click)="goToPage(page)" 
        [class.active]="currentPage === page"
      >
        {{ page }}
      </button>
    </ng-container>
  
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="arrow">
      &raquo; <!-- Flecha derecha -->
    </button>
  </div>
  
  <!-- Eliminar seleccionados -->
  <div class="delete-selected-container">
    <button 
      class="btn btn-danger" 
      (click)="deleteSelected()" 
      [disabled]="!hasSelected()"
    >
      <i class="fas fa-trash"></i> Eliminar seleccionados
    </button>
  </div>
</div>