<!-- Contenedor de fondo con imagen y modal -->
<div class="background-container bg-image">
  <!-- Modal con efecto de desenfoque -->
  <div class="modal-overlay" [ngClass]="{'show': showModal}">
    <div class="modal-content">
      <div class="container forgot-password-form">
        <div class="form-container">
          <!-- Indicador de progreso con 4 pasos -->
          <div class="progress-indicator">
            <div class="step">
              <div [ngClass]="{'step-number': true, 'completed': currentStep > 1, 'active': currentStep === 1}">1</div>
              <div [ngClass]="{'line': true, 'completed': currentStep > 1}"></div>
              <div [ngClass]="{'step-number': true, 'completed': currentStep > 2, 'active': currentStep === 2}">2</div>
              <div [ngClass]="{'line': true, 'completed': currentStep > 2}"></div>
              <div [ngClass]="{'step-number': true, 'completed': currentStep > 3, 'active': currentStep === 3}">3</div>
              <div [ngClass]="{'line': true, 'completed': currentStep > 3}"></div>
              <div [ngClass]="{'step-number': true, 'active': currentStep === 4}">4</div>
            </div>
            <div class="static-line"></div>
          </div>

          <!-- Primer Paso -->
          <div *ngIf="currentStep === 1">
            <h3>Recuperación de contraseña</h3>
            <form>
              <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" id="email" class="form-control" placeholder="Ingresa tu correo" [(ngModel)]="email" name="email" required />
              </div>

              <div class="button-group d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" (click)="confirmExit()">Atrás</button>
                <button type="button" class="btn btn-success" (click)="nextStep()">Enviar código de activación</button>
              </div>
            </form>
          </div>

          <!-- Segundo Paso -->
          <div *ngIf="currentStep === 2">
            <h3>Ingresa el código</h3>
            <form>
              <div class="form-group">
                <input type="text" id="code" class="form-control" placeholder="Ingresa los 6 dígitos" [(ngModel)]="verificationCode" name="verificationCode" maxlength="6" required />
                <small *ngIf="timeLeft > 0">Reenviar código en {{ timeLeft }} segundos</small>
                <small *ngIf="timeLeft === 0" (click)="resendCode()">Reenviar código</small>
              </div>

              <div class="button-group d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" (click)="confirmExitToStep1()">Atrás</button>
                <button type="button" class="btn btn-success" (click)="nextStep()">Enviar</button>
              </div>
            </form>
          </div>

          <!-- Tercer Paso (Crear nueva contraseña) -->
          <div *ngIf="currentStep === 3">
            <h3>Crear nueva contraseña</h3>
            <form>
              <div class="form-group">
                <label for="newPassword">Nueva contraseña</label>
                <input type="password" id="newPassword" class="form-control" placeholder="Ingresa tu nueva contraseña" [(ngModel)]="newPassword" name="newPassword" required />
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirmar contraseña</label>
                <input type="password" id="confirmPassword" class="form-control" placeholder="Confirma tu nueva contraseña" [(ngModel)]="confirmPassword" name="confirmPassword" required />
              </div>

              <div class="button-group d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" (click)="confirmExitToStep2()">Atrás</button>
                <button type="button" class="btn btn-success" (click)="submitPassword()">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>