/* Contenedor de fondo y modal */
.background-container {
  position: relative;
  width: 100%;
  height: 120vh; /* Ocupa toda la altura de la ventana */
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cubre el área del contenedor sin distorsionar la imagen */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Envía la imagen detrás del modal */
}

/* Modal con efecto de desenfoque */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background: rgba(242, 240, 240, 0.007); /* Fondo oscuro semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Asegura que el modal esté encima de la imagen de fondo */
}

.modal-content {
  background: rgba(122, 122, 122, 0.413); /* Fondo transparente */
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 75%;
  max-height: 930px;
  max-width: 850px;

}

/* Progreso de los pasos */
.progress-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  top: -30px;
}

.step {
  display: flex;
  align-items: center;
}

.step-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1); /* Fondo transparente */
  color: #00FF2A; /* Verde para los números */
  font-weight: bold;
  font-size: 16px;
}

.step-number.completed {
  background-color: #00FF2A; /* Verde para pasos completados */
  color: white;
}

.step-number.active {
  background-color: rgba(0, 255, 42, 0.776); /* Verde transparente para el paso actual */
}

.line {
  height: 2px;
  flex: 1;
  background-color: #00FF2A; /* Verde debajo de los números */
  margin: 0 10px;
}

.line.completed {
  background-color: #00FF2A; /* Verde para líneas completadas */
}

/* Estilos del formulario */
.container.forgot-password-form {
  padding: 20px;
  border-radius: 8px;
}

.form-container {
  padding: 20px;
  
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.col {
  flex: 1;
  margin-right: 10px;
}

.col:last-child {
  margin-right: 0;
}

input.form-control, select.form-control {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilos de los botones */
.button-group {
  display: flex;
  justify-content: space-between;
 

}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  
}

.btn-secondary {
  background-color: #00FF2A;
  color: white;
  border: none;
  position: relative;
  top: 180px;
  
}

.btn-secondary1 {
  background-color: #00FF2A;
  color: white;
  border: none;
  position: relative;
  top: 70px;
  
}
.btn-success2 {
  background-color: #00FF2A; /* Verde */
  color: white;
  border: 2px solid #00FF2A; /* Borde verde */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease; /* Suaviza la transición */
  position: relative;
  top: -50px;
  right: 90px;
  width: 500px; /* Ancho fijo */
}
.btn-success3 {
  background-color: #00FF2A; /* Verde */
  color: white;
  border: 2px solid #00FF2A; /* Borde verde */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease; /* Suaviza la transición */
  position: relative;
  top: -50px;
  right: 90px;
  width: 500px; /* Ancho fijo */
}
.btn:hover {
  opacity: 0.9;
}

/* Imagen de fondo */
.bg-image {
  background-image: url('../../assets/sveta-fedarava-tI_Odb7ZU6M-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}

/* Botón "Atrás" */
.btn-back {
  background-color: #00FF2A; /* Verde */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Estilo general del botón */
.btn-success {
  background-color: #00FF2A; /* Verde */
  color: white;
  border: 2px solid #00FF2A; /* Borde verde */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease; /* Suaviza la transición */
  position: relative;
  top: 50px;
  right: 90px;
  width: 500px; /* Ancho fijo */
}

/* Cuando el botón es presionado (active) o enfocado (focus), mantiene el color */
.btn-success:active, 
.btn-success:focus {
  background-color: #00FF2A; /* Mantiene el color verde */
  color: white; /* El texto sigue blanco */
  border: 2px solid #00FF2A; /* Mantiene el borde verde */
  outline: none; /* Elimina el borde de enfoque predeterminado */
}

/* Hover mantiene la opacidad original y cambia suavemente el color */
.btn-success:hover {
  background-color: #24d24a; /* Verde un poco más oscuro */
}
.btn-secondary:hover {
  background-color: #24d24a; /* Verde un poco más oscuro */
}


.btn-back:hover {
  background-color: #24d24a; /* Verde más oscuro */
}
/* Contenedor de progreso con línea verde */
.progress-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Necesario para posicionar la línea estática */
  margin-bottom: 20px;
}

.step {
  display: flex;
  align-items: center;
}

.step-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(185, 184, 184, 0.1); /* Fondo transparente */
  color: #f1f1f1; 
  font-weight: bold;
  font-size: 16px;
}

/* Línea estática verde debajo de los números */
.progress-indicator::after {
  content: "";
  position: absolute;
  width: 90%; /* Ocupa todo el ancho del contenedor */
  height: 3px;
  background-color: #00FF2A; /* Mismo verde que los números */
  bottom: -8px; /* Ajuste la distancia según la necesidad */
  left: 0;
}

/* Botones */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Espacio adicional entre inputs y botones */
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.btn-back, .btn-success {
  background-color: #00FF2A; /* Verde para ambos botones */
  color: white;
  border: #00FF2A;
}

.btn:hover {
  opacity: 0.9;
}

.btn-back:hover {
  background-color: #00FF2A; /* Verde más oscuro */
}
.form-container {
  padding: 20px;
  margin-bottom: 10px; /* Más espacio debajo del formulario */
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 60px; /* Más espacio entre los campos del formulario y los botones */ 
}
.toggle-password {
  position: absolute;
  right: 25px;
  top: 75%; /* Ajuste la posición más abajo */
  transform: translateY(-55%); /* Centrar el ojo */
  cursor: pointer;
  color: #27282a;
}

.toggle-password:hover {
  color: #44E32A;
}
.input-field {
  transition: background-color 0.3s ease;
}

.input-field:focus {
  border: 1px solid #44E32A !important;
  outline: none !important;
  box-shadow: 0 0 5px rgba(68, 227, 42, 0.5);
}
.custom-title {

  text-align: center;
  font-family: 'Roboto', sans-serif; /* Puedes elegir cualquier fuente que prefieras */
  font-size: 30 px; /* Ajusta el tamaño de la fuente si es necesario */
  color: #ffffff; /* Cambia el color según tu diseño */
}

.custom-label {
  font-family: 'Roboto', sans-serif; /* Aplica la misma fuente */
  font-size: 15px; /* Ajusta el tamaño según prefieras */
  color: #ffffff; /* Ajusta el color */
}
.move-right {
  margin-left: 310px;
  top: -20;
  position: relative;
}
.move-right-up {
  position: relative;
  left: 310px; /* Mueve la imagen a la derecha, ajusta el valor según sea necesario */
  top: -30px; /* Sube la imagen hacia arriba, ajusta este valor según sea necesario */
}




