<div class="background-container">
    <!-- Imagen de fondo -->
    <img src="../../assets/sveta-fedarava-tI_Odb7ZU6M-unsplash.jpg" alt="Background" class="background-image">
  
    <!-- Modal con efecto de desenfoque -->
    <div class="modal-overlay" [ngClass]="{'show': showModal}">
      <div class="modal-content">
        <div class="container forgot-password-form">
          <div class="form-container">
            <div class="progress-indicator">
              <div class="step">
                <div [ngClass]="{'step-number': true, 'completed': currentStep > 1, 'active': currentStep === 1}">1</div>
                <div [ngClass]="{'line': true, 'completed': currentStep > 1}"></div>
                <div [ngClass]="{'step-number': true, 'completed': currentStep > 2, 'half-step': currentStep === 2, 'active': currentStep === 2}">2</div>
                <div [ngClass]="{'line': true, 'completed': currentStep > 2}"></div>
                <div [ngClass]="{'step-number': true, 'active': currentStep === 3}">3</div>
              </div>
            </div>
  
            <form (ngSubmit)="onSubmit()">
              <!-- Contenido del formulario -->
              <div class="row">
                <div class="col">
                  <label for="first_name">Nombres</label>
                  <input type="text" id="first_name" class="form-control" placeholder="Nombres" [(ngModel)]="person.first_name" name="first_name" />
                </div>
                <div class="col">
                  <label for="last_name">Apellidos</label>
                  <input type="text" id="last_name" class="form-control" placeholder="Apellidos" [(ngModel)]="person.last_name" name="last_name" />
                </div>
              </div>
  
              <div class="row">
                <div class="col">
                  <label for="type_document">Tipo de documento</label>
                  <select id="type_document" class="form-control" [(ngModel)]="person.type_document" name="type_document">
                    <option value="">Seleccione</option>
                    <option value="CC">Cédula de ciudadanía</option>
                    <option value="TI">Tarjeta de identidad</option>
                    <option value="CE">Cédula de extranjería</option>
                  </select>
                </div>
                <div class="col">
                  <label for="document">Número del documento</label>
                  <input type="text" id="document" class="form-control" placeholder="Número del documento" [(ngModel)]="person.document" name="document" />
                </div>
              </div>
  
              <div class="row">
                <div class="col">
                  <label for="phone">Teléfono</label>
                  <input type="text" id="phone" class="form-control" placeholder="Teléfono" [(ngModel)]="person.phone" name="phone" />
                </div>
              </div>
  
              
                    <div class="button-group">
                     <a class="btn-back" [routerLink]="'/login'" routerLinkActive="active">
                    Volver al inicio de sesión
                     </a>
                     <button type="submit" class="btn btn-success">Siguiente</button>
              </div>
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
