<div class="card mb-3 custom-card custom-card-Fincaudita shadow-lg">
  <div class="card-body">
    <h5 class="card-title">FincAudita</h5>
    <p class="card-text">
      FincAudita es una solución innovadora que permite a los inspectores ingresar datos en tiempo real desde sus dispositivos móviles. Nuestra plataforma web asegura que la información se almacene de manera segura, facilitando el acceso y el análisis de datos. Con FincAudita, elimina errores y optimiza la eficiencia de tus procesos.
    </p>
  </div>
</div>  

<div class="card-container">
  <!-- Tarjeta Fincas con routerLink -->
  <a [routerLink]="['/dashboard/farm']">
    <div class="card mb-3 custom-card custom-card-fincas shadow-lg">
      <div class="card-body">
        <h5 class="card-title">Fincas</h5>
        <p class="card-text">Administración fincas asociadas</p>
        <p class="card-text">
          Gestión integral de fincas, asegurando un seguimiento efectivo y un manejo óptimo de los recursos.
        </p>
      </div>
    </div>
  </a>

  <!-- Tarjeta Insumos con routerLink -->
  <a [routerLink]="['/dashboard/supplies']">
    <div class="card mb-3 custom-card custom-card-insumos shadow-lg">
      <div class="card-body">
        <h5 class="card-title">Insumos</h5>
        <p class="card-text">Administración de los insumos</p>
        <p class="card-text">
          Control de insumos agrícolas, garantizando la disponibilidad y uso eficiente en los cultivos.
        </p>
      </div>
    </div>
  </a>

  <!-- Tarjeta Tratamiento de Cultivos con routerLink -->
  <a [routerLink]="['/dashboard/treatment']">
    <div class="card mb-3 custom-card custom-card-cultivos shadow-lg">
      <div class="card-body">
        <h5 class="card-title">Tratamiento de cultivos</h5>
        <p class="card-text">Administración de los tratamientos de cultivos</p>
        <p class="card-text">
          Supervisión de tratamientos fitosanitarios y seguimiento de la salud de los cultivos.
        </p>
      </div>
    </div>
  </a>
</div>
