<!-- Contenedor de fondo con imagen y modal -->
<div class="background-container bg-image">
  <!-- Modal con efecto de desenfoque -->
  <div class="modal-overlay" [ngClass]="{'show': showModal}">
    <div class="modal-content">
      <div class="container forgot-password-form">
        <div class="form-container">
          <!-- Indicador de progreso con 3 pasos -->
          <div class="progress-indicator">
            <div class="step">
              <div [ngClass]="{'step-number': true, 'completed': currentStep > 1, 'active': currentStep === 1}">1</div>
              <div [ngClass]="{'line': true, 'completed': currentStep > 1}"></div>
              <div [ngClass]="{'step-number': true, 'completed': currentStep > 2, 'active': currentStep === 2}">2</div>
              <div [ngClass]="{'line': true, 'completed': currentStep > 2}"></div>
              <div [ngClass]="{'step-number': true, 'active': currentStep === 3}">3</div>
            </div>
            <div class="static-line"></div>
          </div>

          <!-- Primer Paso -->
              <div *ngIf="currentStep === 1">
                <form class="row g-3 needs-validation" novalidate>
                  <div class="col-md-6">
                    <label for="first_name" class="form-label">Nombres</label>
                    <div class="input-group">
                      <input type="text" id="first_name" class="form-control" placeholder="Nombres" 
                            [(ngModel)]="person.first_name" name="first_name" required minlength="1" maxlength="20" 
                            (input)="filterInput($event)" 
                            [ngClass]="{'is-valid': validateLetters(person.first_name) && person.first_name.length > 0 && person.first_name.length <= 50, 
                                        'is-invalid': person.first_name.length === 0 || !validateLetters(person.first_name) || person.first_name.length > 50}" />
                      <div class="input-group-append">
                        <span class="input-group-text" *ngIf="validateLetters(person.first_name) && person.first_name.length > 0 && person.first_name.length <= 50">
                          <i class="fas fa-check text-success"></i>
                        </span>
                        <span class="input-group-text" *ngIf="person.first_name.length === 0 || !validateLetters(person.first_name) || person.first_name.length > 50">
                          <i class="fas fa-exclamation-circle text-danger"></i>
                        </span>
                      </div>
                    </div>
                    <div class="invalid-feedback">El nombre es obligatorio, no debe contener números o caracteres especiales y debe tener un máximo de 50 caracteres.</div>
                  </div>
                  
                  <div class="col-md-6">
                    <label for="last_name" class="form-label">Apellidos</label>
                    <div class="input-group">
                      <input type="text" id="last_name" class="form-control" placeholder="Apellidos" 
                            [(ngModel)]="person.last_name" name="last_name" required minlength="1" maxlength="20" 
                            (input)="filterInput($event)" 
                            [ngClass]="{'is-valid': validateLetters(person.last_name) && person.last_name.length > 0 && person.last_name.length <= 50, 
                                        'is-invalid': person.last_name.length === 0 || !validateLetters(person.last_name) || person.last_name.length > 50}" />
                      <div class="input-group-append">
                        <span class="input-group-text" *ngIf="validateLetters(person.last_name) && person.last_name.length > 0 && person.last_name.length <= 50">
                          <i class="fas fa-check text-success"></i>
                        </span>
                        <span class="input-group-text" *ngIf="person.last_name.length === 0 || !validateLetters(person.last_name) || person.last_name.length > 50">
                          <i class="fas fa-exclamation-circle text-danger"></i>
                        </span>
                      </div>
                    </div>
                    <div class="invalid-feedback">El apellido es obligatorio, no debe contener números o caracteres especiales y debe tener un máximo de 50 caracteres.</div>
                  </div>
              
            
                  <div class="col-md-6 position-relative">
                    <label for="type_document" class="form-label">Tipo de documento</label>
                    <div class="input-group">
                      <select id="type_document" class="form-select" 
                              [(ngModel)]="person.type_document" name="type_document" required 
                              [ngClass]="{'is-valid': person.type_document !== '', 'is-invalid': person.type_document === ''}">
                        <option value="">Seleccione</option>
                        <option value="CC">Cédula de ciudadanía</option>
                        <option value="TI">Tarjeta de identidad</option>
                        <option value="CE">Cédula de extranjería</option>
                        <option value="PS">Pasaporte</option>
                      </select>
                      <span class="input-group-text" *ngIf="person.type_document && person.type_document !== ''"
                            style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%); background: transparent; border: none;">
                        <i class="fas fa-check text-success"></i>
                      </span>
                      <span class="input-group-text" *ngIf="person.type_document === ''"
                            style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%); background: transparent; border: none;">
                        <i class="fas fa-exclamation-circle text-danger"></i>
                      </span>
                    </div>
                    <div class="invalid-feedback">Seleccione un tipo de documento.</div>
                  </div>
                  

                  <div class="col-md-6">
                    <label for="document" class="form-label">Número del documento</label>
                    <div class="input-group">
                      <input type="tel" id="document" class="form-control" placeholder="Número del documento" 
                            [(ngModel)]="person.document" name="document" required minlength="10" maxlength="10" 
                            pattern="[0-9]{10}" 
                            [ngClass]="{'is-valid': person.document && person.document.toString().length === 10, 'is-invalid': person.document && person.document.toString().length !== 10}" 
                            (keypress)="validateNumber($event)" />
                      <div class="input-group-append">
                        <span class="input-group-text" *ngIf="person.document && person.document.toString().length === 10">
                          <i class="fas fa-check text-success"></i>
                        </span>
                        <span class="input-group-text" *ngIf="person.document && person.document.toString().length < 10">
                          <i class="fas fa-exclamation-circle text-danger"></i>
                        </span>
                      </div>
                    </div>
                    <div class="invalid-feedback">Número de documento es obligatorio y debe tener exactamente 10 dígitos.</div>
                  </div>
                  
                  
                  <div class="col-md-6">
                    <label for="phone" class="form-label">Teléfono</label>
                    <div class="input-group">
                      <input type="tel" id="phone" class="form-control" placeholder="Teléfono" 
                            [(ngModel)]="person.phone" name="phone" required minlength="10" maxlength="10" 
                            pattern="[0-9]{10}" 
                            [ngClass]="{'is-valid': person.phone && person.phone.toString().length === 10, 'is-invalid': person.phone && person.phone.toString().length !== 10}" 
                            (keypress)="validateNumber($event)" />
                      <div class="input-group-append">
                        <span class="input-group-text" *ngIf="person.phone && person.phone.toString().length === 10">
                          <i class="fas fa-check text-success"></i>
                        </span>
                        <span class="input-group-text" *ngIf="person.phone && person.phone.toString().length < 10">
                          <i class="fas fa-exclamation-circle text-danger"></i>
                        </span>
                      </div>
                    </div>
                    <div class="invalid-feedback">Teléfono es obligatorio y debe tener exactamente 10 dígitos.</div>
                  </div>              
                  
                
                  
                  <div class="col-md-6">
                    <label for="birth_date" class="form-label">Fecha de nacimiento</label>
                    <div class="input-group">
                      <input type="date" id="birth_date" class="form-control" [(ngModel)]="person.birth_of_date" name="birth_date" required />
                      
                      <div class="input-group-append">
                        <span class="input-group-text" *ngIf="person.birth_of_date">
                          <i class="fas fa-check" [ngClass]="{'text-success': person.birth_of_date, 'text-danger': !person.birth_of_date}"></i>
                        </span>
                      </div>
                    </div>
                    <div class="invalid-feedback">La fecha de nacimiento es obligatoria.</div>
                  </div>
                  <div class="button-group d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary1" (click)="confirmExit()">Anterior</button>
                    <button type="button" class="btn btn-success1" (click)="nextStep()">Siguiente</button>
                  </div>
                </form>
              </div>

              <div class="mt-3"> <!-- Elimina text-end para alineación a la izquierda -->
                <span class="login-text">
                    ¿Ya tienes cuenta? <a [routerLink]="'/login'" class="login-link"> Iniciar sesión</a>
                </span>
            </div>
            
              <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="form-check"> <!-- Elimina ms-auto para que quede a la izquierda -->
                    <input class="form-check-input" type="checkbox" id="termsCheckbox" style="border-color: #008f39;">
                    <label class="form-check-label" for="termsCheckbox" style="color: #f8f9fa;">
                        <a class="text-decoration-underline" [routerLink]="'/terms-conditions'" routerLinkActive="active" style="color: #f8f9fa;">
                            Acepto términos y condiciones
                        </a>
                    </label>
                </div>
            </div>


          
          <div *ngIf="currentStep === 2">
            <form class="row g-3 needs-validation" novalidate>
              <div class="col-md-6 mb-3 position-relative1">
                <label for="CityId" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="CityId" name="CityId"
                       [ngbTypeahead]="searchCitys"
                       [inputFormatter]="formatCity" 
                       [resultFormatter]="formatCity"
                       (selectItem)="onCitySelect($event)"
                       [ngModel]="getCityName(person.cityId)"
                       placeholder="Buscar ciudad"
                       required>
                <div class="invalid-feedback"></div>
              </div>
              
              <div class="col-md-6 mb-3 position-relative2">
                <label for="address" class="form-label">Dirección</label>
                <div class="input-group">
                  <input type="text" id="address" class="form-control" placeholder="Ej: Calle 123 #45-67" 
                         [(ngModel)]="person.addres" name="address" required
                         (input)="validateAddress(person.addres)"
                         [ngClass]="{
                           'is-valid': isValidAddress, 
                           'is-invalid': !isValidAddress && person.addres && person.addres.length > 0
                         }" />
                  <span class="input-group-text" *ngIf="isValidAddress">
                    <i class="fas fa-check text-success"></i>
                  </span>
                  <span class="input-group-text" *ngIf="!isValidAddress && person.addres && person.addres.length > 0"
                        style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%); background: transparent; border: none;">
                    <i class="fas fa-exclamation-circle text-danger"></i>
                  </span>
                </div>
                <div class="invalid-feedback">La dirección debe comenzar con Calle, Carrera o Transversal, y seguir el formato adecuado.</div>
              </div>
              
              <div class="col-md-6 mb-3 position-relative3">
                <label for="email" class="form-label">Correo electrónico</label>
                <div class="input-group">
                  <input type="email" id="email" class="form-control" placeholder="Correo electrónico"
                         [(ngModel)]="person.email" name="email" required 
                         (ngModelChange)="onEmailChange()" />
                  <span class="input-group-text" *ngIf="person.email && emailError === ''">
                    <i class="fas fa-check text-success"></i>
                  </span>
                  <span class="input-group-text" *ngIf="emailError"
                        style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%); background: transparent; border: none;">
                    <i class="fas fa-exclamation-circle text-danger"></i>
                  </span>
                </div>
                <div class="invalid-feedback">{{ emailError }}</div>
                <div class="email-guidelines" style="color: #454444; font-size: 0.9em; margin-top: 0.5rem;">
                  El correo debe ser de Gmail o Hotmail y contener el símbolo "&#64;".
                </div>
              </div>
              
              
              <div class="col-md-6 mb-3 position-relative4">
                <label for="Username" class="form-label">Nombre de usuario</label>
                <div class="input-group">
                  <input type="text" id="Username" class="form-control" placeholder="Nombre de usuario"
                         [(ngModel)]="user.username" name="username" required minlength="4" maxlength="15"
                         [ngClass]="{'is-valid': user.username && isValidUsername(user.username), 'is-invalid': user.username && !isValidUsername(user.username)}" />
                  <span class="input-group-text" *ngIf="user.username && isValidUsername(user.username)">
                    <i class="fas fa-check text-success"></i>
                  </span>
                  <span class="input-group-text" *ngIf="user.username && !isValidUsername(user.username)"
                        style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%); background: transparent; border: none;">
                    <i class="fas fa-exclamation-circle text-danger"></i>
                  </span>
                </div>
                <div class="invalid-feedback" style="color: red; margin-top: 0.5rem;">{{ usernameError }}</div>
                <div class="username-guidelines" style="color: #454444; font-size: 0.9em; margin-top: 0.5rem;">
                  El nombre de usuario debe tener entre 4 y 15 caracteres, contener al menos una letra mayúscula, una letra minúscula, y no debe contener números ni caracteres especiales.
                </div>
              </div>
              
              <div class="col-md-6 mb-3 position-relative">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" class="form-control input-password" placeholder="Contraseña"
                       [(ngModel)]="user.password" name="password" required minlength="8" 
                       [ngClass]="{'is-valid': isValidPassword(user.password), 'is-invalid': user.password && !isValidPassword(user.password)}" />
                <i id="togglePassword" class="fas fa-eye position-absolute toggle-password"
                   (click)="togglePasswordVisibility()"></i>
                <div class="input-group-append">
                  <span class="input-group-text" *ngIf="user.password && isValidPassword(user.password)">
                    <i class="fas fa-check text-success"></i>
                  </span>
                </div>
                <div *ngIf="user.password && !isValidPassword(user.password)">
                  {{ passwordError }}
                </div>
                <div class="password-guidelines" style="color: #454444; font-size: 0.9em; margin-top: 0.5rem;">
                  La contraseña debe tener al menos 8 caracteres, incluir al menos una mayúscula y un número.
                </div>
              </div>

            

  <div class="button-group d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" (click)="prevStep()">Anterior</button>
                <button type="button" class="btn btn-success" (click)="nextStep()">Siguiente</button>
              </div>
            </form>
          </div>

          <!-- Tercer Paso -->
          <div *ngIf="currentStep === 3">
            <h3>Resumen de la Información</h3>
            <p><strong>Nombres:</strong> {{ person.first_name }}</p>
            <p><strong>Apellidos:</strong> {{ person.last_name }}</p>
            <p><strong>Tipo de documento:</strong> {{ person.type_document }}</p>
            <p><strong>Número de documento:</strong> {{ person.document }}</p>
            <p><strong>Teléfono:</strong> {{ person.phone }}</p>
            <p><strong>Fecha de nacimiento:</strong> {{ person.birth_of_date | date }}</p>
            <p><strong>Ciudad:</strong> {{ getCityName(person.cityId) }}</p>
            <p><strong>Dirección:</strong> {{ person.addres }}</p>
            <p><strong>Correo electrónico:</strong> {{ person.email }}</p>
            <p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
            
            <div class="button-group d-flex justify-content-between">
              <button type="button" class="btn btn-secondary" (click)="prevStep()">Anterior</button>
              <button type="submit" class="btn btn-primary" (click)="onSubmit()">Registrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>