<div class="background-container bg-image"></div>
<div class="modal-static">
    <div class="modal-content">
      <h2>Términos y Condiciones</h2>
      <div class="terms-text">
        <p>
          Bienvenido a FincaAudita, la plataforma especializada en el monitoreo y gestión de fincas. Antes de utilizar nuestros servicios, te pedimos que leas detenidamente los siguientes términos y condiciones. Al acceder o utilizar FincaAudita, aceptas estar legalmente vinculado por estos términos.
        </p>
  
        <h3>1. Uso del Servicio</h3>
        <p>
          FincaAudita proporciona herramientas tecnológicas avanzadas para el monitoreo y gestión eficiente de fincas. Los administradores y técnicos que operan la aplicación son responsables de la precisión y veracidad de la información registrada durante el monitoreo. Al usar nuestro servicio, te comprometes a cumplir con todas las leyes, regulaciones locales y normativas aplicables.
        </p>
  
        <h3>2. Edad Mínima</h3>
        <p>
          El uso de FincaAudita está estrictamente reservado para usuarios que sean mayores de 18 años. Al registrarte y utilizar nuestros servicios, declaras y garantizas que tienes al menos 18 años de edad. Si se determina que un usuario es menor de edad, FincaAudita se reserva el derecho de suspender o eliminar su cuenta sin previo aviso.
        </p>
  
        <h3>3. Privacidad</h3>
        <p>
          En FincaAudita valoramos tu privacidad y manejamos tus datos con estricta confidencialidad. La información recopilada durante el monitoreo de las fincas se utilizará exclusivamente con fines de análisis, mejora del servicio y optimización de las funcionalidades. Nunca compartiremos tus datos personales con terceros sin tu consentimiento explícito, salvo en los casos en que lo exija la ley.
        </p>
  
        <h3>4. Responsabilidades del Usuario</h3>
        <p>
          Es responsabilidad de los administradores y técnicos de FincaAudita asegurar que toda la información registrada durante el monitoreo sea completa y precisa. FincaAudita no será responsable de pérdidas, daños o perjuicios derivados de información incorrecta, incompleta o malinterpretada proporcionada por los usuarios.
        </p>
  
        <h3>5. Seguridad</h3>
        <p>
          Hemos implementado robustas medidas de seguridad para proteger tus datos y garantizar la integridad de la información almacenada. No obstante, debido a la naturaleza de las comunicaciones por internet, no podemos garantizar la seguridad absoluta de los datos transmitidos a través de la red. El uso del servicio es bajo tu propio riesgo.
        </p>
  
        <h3>6. Modificaciones</h3>
        <p>
          Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones serán efectivas una vez publicadas en nuestro sitio web. Se recomienda a los usuarios revisar regularmente los términos para estar al tanto de cualquier cambio. El uso continuo de FincaAudita después de la publicación de los cambios implica la aceptación de los mismos.
        </p>
  
        <h3>7. Contacto</h3>
        <p>
          Si tienes alguna duda o inquietud respecto a estos términos y condiciones, o si necesitas más información sobre el uso de FincaAudita, no dudes en ponerte en contacto con nosotros a través de nuestros canales oficiales.
        </p>
      </div>
      <div class="button-container">
      <button (click)="acceptTerms()" id="acceptTerms" class="accept-button">Aceptar Términos y Condiciones</button>
    </div>
  </div>
