<!-- Título con estilo -->
<h2 class="title">Lista de Personas</h2>

<div class="top-container">
    <!-- Campo de búsqueda -->
    <div class="search-container">
        <input type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" class="form-control input-field" />
    </div>

    <div class="export-container">
        <!-- Selector de ítems por página -->
        <div class="items-per-page">
            <label for="itemsPerPage">Mostrar:</label>
            <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
                <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
            </select>
        </div>

        <!-- Select para exportar -->
        <div class="export-select">
            <ng-select (change)="handleExport($event)" [placeholder]="'Exportar Como'" [clearable]="true" [searchable]="false">
                <ng-option value="pdf" class="custom-option">
                    <div class="option-container">
                        <i class="fas fa-file-pdf"></i>
                        <span class="custom-option-text">PDF</span>
                    </div>
                </ng-option>
                <ng-option value="excel" class="custom-option">
                    <div class="option-container">
                        <i class="fas fa-file-excel"></i>
                        <span class="custom-option-text">Excel</span>
                    </div>
                </ng-option>
            </ng-select>
        </div>
    </div>

    <!-- Botón para agregar una nueva persona -->
    <button class="btn btn-success add-btn" (click)="openModal()">Agregar nuevo <i class="fas fa-plus"></i></button>
</div>

<!-- Modal para agregar/editar persona -->
<div id="personModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ person.id === 0 ? 'Agregar Persona' : 'Editar Persona' }}</h2>

        <hr class="modal-border">

        <form #personForm="ngForm" (ngSubmit)="onSubmit(personForm)">
            <input type="hidden" name="id" [(ngModel)]="person.id">

            <div class="row">
                <div class="col">
                    <label for="First_name">Primer nombre:</label>
                    <input type="text" class="form-control input-field" id="First_name" name="First_name" [(ngModel)]="person.first_name" required>
                </div>

                <div class="col">
                    <label for="Last_name">Segundo nombre:</label>
                    <input type="text" class="form-control input-field" id="Last_name" name="Last_name" [(ngModel)]="person.last_name" required>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col">
                    <label for="Email">Email:</label>
                    <input type="email" class="form-control input-field" id="Email" name="Email" [(ngModel)]="person.email" required>
                </div>

                <div class="col">
                    <label for="Type_document">Tipo de documento:</label>
                    <select class="form-control input-field" id="Type_document" name="Type_document" [(ngModel)]="person.type_document" required>
                        <option value="">Seleccione</option>
                        <option value="CC">Cédula de ciudadanía</option>
                        <option value="TI">Tarjeta de identidad</option>
                        <option value="CE">Cédula de extranjería</option>
                        <option value="PS">Pasaporte</option>
                    </select>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col">
                    <label for="Document">Documento:</label>
                    <input type="text" class="form-control input-field" id="Document" name="Document" [(ngModel)]="person.document" required>
                </div>

                <div class="col">
                    <label for="Address">Dirección:</label>
                    <input type="text" class="form-control input-field" id="Address" name="Address" [(ngModel)]="person.address" required>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col">
                    <label for="Phone">Teléfono:</label>
                    <input type="text" class="form-control input-field" id="Phone" name="Phone" [(ngModel)]="person.phone" required>
                </div>

                <div class="col">
                    <label for="Birth_of_date">Fecha de nacimiento:</label>
                    <input type="date" class="form-control input-field" id="Birth_of_date" name="Birth_of_date" [(ngModel)]="person.birth_of_date" required>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col">
                    <label for="City">Ciudad:</label>
                    <input type="text" class="form-control input-field" id="City" name="City" [(ngModel)]="person.cityName" (input)="searchCitys($event)" required>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCitySelect($event)">
                        <mat-option *ngFor="let city of filteredCitys" [value]="city.name">
                            {{ city.name }}
                        </mat-option>
                    </mat-autocomplete>
                </div>

                <div class="col" *ngIf="person.id !== 0">
                    <label for="State">Estado:</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="State" name="State" [(ngModel)]="person.state">
                    </div>
                </div>
            </div>

            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>

<!-- Tabla de personas -->
<table *ngIf="filteredPersons.length > 0" class="table">
    <thead>
        <tr>
            <th><input type="checkbox" (change)="selectAll($event)" [checked]="areAllSelected()" /></th>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of paginatedPersons()">
            <td>
                <label class="checkbox-container">
                    <input type="checkbox" [(ngModel)]="person.selected" />
                    <div class="checkbox-custom"></div>
                </label>
            </td>
            <td>{{ person.first_name }} {{ person.last_name }}</td>
            <td>{{ person.document }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.phone }}</td>
            <td>{{ person.state ? 'Activo' : 'Inactivo' }}</td>
            <td>
                <button class="btn-icon edit" (click)="editPersons(person)" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn-icon delete" (click)="deletePersons(person.id)" title="Eliminar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<p *ngIf="filteredPersons.length === 0">No se encontraron personas.</p>

<div class="data-table-footer">
    <!-- Paginación -->
    <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1" class="arrow">&laquo;</button>
        <ng-container *ngFor="let page of getPageNumbers()">
            <button (click)="goToPage(page)" [class.active]="currentPage === page">{{ page }}</button>
        </ng-container>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="arrow">&raquo;</button>
    </div>

    <!-- Eliminar seleccionados -->
    <div class="delete-selected-container">
        <button class="btn btn-danger" (click)="deleteSelected()" [disabled]="!hasSelected()">
            <i class="fas fa-trash"></i> Eliminar seleccionados
        </button>
    </div>
</div>
