<!-- Título con estilo -->
<h2 class="title">Lista de Persons</h2>

<!-- Botón a la derecha -->
<button class="btn btn-success add-btn" (click)="openModal()">Agregar nuevo <i class="fas fa-plus"></i></button>

<div id="moduloModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ person.id === 0 ? 'Agregar person' : 'Editar person' }}</h2>

        <hr class="modal-border">

        <form #moduloForm="ngForm" (ngSubmit)="onSubmit(moduloForm)">
            <input type="hidden" name="id" [(ngModel)]="person.id">

            <div class="row">
                <div class="col">
                    <label for="First_name">Primer nombre:</label>
                    <input type="text" class="form-control" id="First_name" name="First_name"
                        [(ngModel)]="person.first_name" required>
                </div>

                <div class="col">
                    <label for="Last_name">Segundo nombre:</label>
                    <input type="text" class="form-control" id="Last_name" name="Last_name"
                        [(ngModel)]="person.last_name" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="Email">Email:</label>
                    <input type="text" class="form-control" id="Email" name="Email" [(ngModel)]="person.email" required>
                </div>

                <div class="col">
                    <label for="Type_document">Tipo de documento:</label>
                    <input type="text" class="form-control" id="Type_document" name="Type_document"
                        [(ngModel)]="person.type_document" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="Document">Documento:</label>
                    <input type="text" class="form-control" id="Document" name="Document" [(ngModel)]="person.document"
                        required>
                </div>

                <div class="col">
                    <label for="Addres">Dirección:</label>
                    <input type="text" class="form-control" id="Addres" name="Addres" [(ngModel)]="person.addres"
                        required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="Phone">Telefono:</label>
                    <input type="text" class="form-control" id="Phone" name="Phone" [(ngModel)]="person.phone" required>
                </div>

                    <div class="col">
                    <label for="Birth_of_date">Fecha de nacimiento:</label>
                    <input type="date" class="form-control" id="Birth_of_date" name="Birth_of_date"
                        [(ngModel)]="person.birth_of_date" required>
                    </div>
                <br>

                <div class="row">
                    <div class="col">
                        <label for="CityId">Ciudad:</label>
                        <input type="text" class="form-control" id="CityId" name="CityId" 
                        [ngbTypeahead]="searchCitys"
                        [inputFormatter]="formatCity" 
                        [resultFormatter]="formatCity"
                        (selectItem)="onCitySelect($event)"
                        [ngModel]="getCityName(person.cityId)"
                        required>
                    </div>

                <div class="col">
                    <label for="State">Estado:</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="State" name="State"
                            [(ngModel)]="person.state">
                    </div>
                </div>
                
            </div>
        </div>
        <br>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        </form>
        
    </div>
</div>

<!-- Table of modules -->
<table *ngIf="persons.length > 0" class="table">
    <thead>
        <tr>
            <th>P. nombre</th>
            <th>S. nombre</th>
            <th>Email</th>
            <th>T.D.</th>
            <th>Documento</th>
            <th>Direccion</th>
            <th>phone</th>
            <th>F.N.</th>
            <th>Ciudad</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of persons">
            <td>{{ person.first_name }}</td>
            <td>{{ person.last_name }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.type_document }}</td>
            <td>{{ person.document }}</td>
            <td>{{ person.addres }}</td>
            <td>{{ person.phone }}</td>
            <td>{{ person.birth_of_date }}</td>
            <td>{{ getCityName(person.cityId) }}</td>
            <td>{{ person.state ? 'Activo' : 'Inactivo' }}</td>
            <td>
                <button class="btn-icon edit" (click)="editPersons(person)" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn-icon delete" (click)="deletePersons(person.id)" title="Eliminar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<p *ngIf="persons.length === 0">No se encontraron persons.</p>