/* Estilo base del navbar */
.navbar {
  width: 200px;
  background-color: #F2F2F2;
  height: 100vh; /* Full height */
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Evita que el contenido se desborde */
  
}

/* Estilos para el título del navbar */
.navbar-title {
  margin: 20px 0;
  font-size: 24px;
  text-align: center;
}

/* Estilo para la lista de enlaces */
.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; /* Permite que la lista crezca para ocupar el espacio disponible */
  width: 100%; /* Asegura que ocupe todo el ancho del navbar */
}


/* Estilos para los enlaces dentro del navbar */
.navbar a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  display: flex; /* Flexbox para alinear ícono y texto */
  display: block;
  padding: 10px;
  text-align: left; /* Alinea el texto a la izquierda */
  width: 100%; /* Asegura que el enlace ocupe todo el ancho */
}


.navbar a:hover,
.navbar a.active {
  background-color: #44E32A; /* Color verde para hover y elemento activo */
  border: 1px solid #44E32A; /* Bordes verdes */
  border-radius: 5px; /* Bordes redondeados */
}



/* Estilos específicos para el acordeón dentro del navbar */
.navbar .accordion-button {
  background-color: #F2F2F2; /* Mismo color de fondo que el navbar */
  color: black; /* Letra negra */
  border: none;
  width: 100%; /* Asegura que ocupe todo el ancho */
  text-align: left; /* Alinea el texto a la izquierda */
  padding-left: 10px; /* Ajusta el espacio para el ícono */
  font-size: 18px; /* Ajusta el tamaño de la fuente */
}

.navbar .accordion-button i {
  margin-right: 8px; /* Añade espacio entre el ícono y el texto */
}

/* Elimina el efecto de selección del acordeón */
.navbar .accordion-button:focus {
  box-shadow: none; /* Elimina el efecto de foco */
  outline: none; /* Elimina el contorno de enfoque */
}


.navbar .accordion-button:hover {
  color: black; /* Letra negra al hacer hover */
  background-color: #44E32A; /* Fondo verde al hacer hover */
}

.navbar .accordion-item {
  border: none;
  width: 100%; /* Asegura que el acordeón ocupe todo el ancho */
}

/* Elimina el borde en el acordeón */
.navbar .accordion-collapse {
  border: none;
}

/* Estilo para el acordeón cuando está abierto */
.navbar .accordion-button:not(.collapsed) {
  color: black; /* Letra negra cuando está abierto */
  background-color: #44E32A; /* Fondo verde cuando está abierto */
}

/* Estilo para el cuerpo del acordeón */
.navbar .accordion-body {
  padding: 0;
  background-color: #F2F2F2; /* Mismo color de fondo que el navbar */
}


/* Estilo para los elementos de la lista dentro del acordeón */
.navbar .list-group-item {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  background-color: #F2F2F2; /* Asegura que el color de fondo coincida con el navbar */
  border: none; /* Elimina los bordes de los items */
  text-align: center;
}

.navbar .list-group-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; 
  width: 100%
  
  
}

.navbar .list-group-item a {
  display: flex; /* Flexbox para alinear ícono y texto */
  align-items: center;
}

.navbar .list-group-item a i {
  margin-right: 8px; /* Añade espacio entre el ícono y el texto */
}

.logout{
  margin-bottom: 20%;
  text-align: center !important;
}