<h2 class="title">Gestión de Lotes</h2>

<!-- Botón para agregar nuevo lote -->
<button class="btn btn-success add-btn" (click)="openModal()">Agregar nuevo lote <i class="fas fa-plus"></i></button>

<!-- Modal para agregar/editar lote -->
<div id="lotModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{ lot.id === 0 ? 'Agregar Lote' : 'Editar Lote' }}</h2>
    <hr class="modal-border">

    <form #lotForm="ngForm" (ngSubmit)="onSubmit(lotForm)">
      <input type="hidden" name="id" [(ngModel)]="lot.id">

      <!-- Autocompletado para el cultivo -->
      <div class="row">
        <div class="col">
          <label for="cropId">Cultivo:</label>
          <input type="text" class="form-control" id="cropId" name="cropId"
            [ngbTypeahead]="searchCrops"
            [inputFormatter]="formatCrop"
            [resultFormatter]="formatCrop"
            (selectItem)="onCropSelect($event)"
            [ngModel]="lot.cropId"
            required>
        </div>

        <!-- Autocompletado para la finca -->
        <div class="col">
          <label for="farmId">Finca:</label>
          <input type="text" class="form-control" id="farmId" name="farmId"
            [ngbTypeahead]="searchFarms"
            [inputFormatter]="formatFarm"
            [resultFormatter]="formatFarm"
            (selectItem)="onFarmSelect($event)"
            [ngModel]="lot.farmId"
            required>
        </div>
      </div>

      <!-- Número de hectáreas -->
      <div class="row">
        <div class="col">
          <label for="numHectareas">Número de Hectáreas:</label>
          <input type="number" class="form-control" id="numHectareas" name="num_hectareas" [(ngModel)]="lot.num_hectareas" required>
        </div>
      </div>

      <!-- Estado -->
      <div class="row">
        <div class="col">
          <label for="state">Estado:</label>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="state" name="state" [(ngModel)]="lot.state">
          </div>
        </div>
      </div>

      <br>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
</div>

<!-- Lista de Lotes -->
<table *ngIf="lots.length > 0" class="table">
  <thead>
    <tr>
      <th>Cultivo</th>
      <th>Finca</th>
      <th>Número de Hectáreas</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lot of lots">
      <td>{{ getCropName(lot.cropId) }}</td>
      <td>{{ getFarmName(lot.farmId) }}</td>
      <td>{{ lot.num_hectareas }}</td>
      <td>{{ lot.state ? 'Activo' : 'Inactivo' }}</td>
      <td>
        <button class="btn-icon edit" (click)="editLot(lot)" title="Editar">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn-icon delete" (click)="deleteLot(lot.id)" title="Eliminar">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<p *ngIf="lots.length === 0">No se encontraron lotes.</p>
