<h2 class="title">Lista de Criterios de evaluación</h2>

<div class="top-container">
  <!-- Campo de búsqueda -->
  <div class="search-container">
    <input type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()"
      class="form-control input-field" />
  </div>  
  
  <div class="export-container">
    <!-- Selector de ítems por página -->
    <div class="items-per-page">
      <label for="itemsPerPage">Mostrar:</label>
      <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
        <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
  
    <!-- Select para exportar -->
    <div class="export-select">
      <ng-select (change)="handleExport($event)" [placeholder]="'Exportar Como'" [clearable]="true" [searchable]="false">
        <ng-option value="pdf" class="custom-option">
          <div class="option-container">
            <i class="fas fa-file-pdf"></i>
            <span class="custom-option-text">PDF</span>
          </div>
        </ng-option>
        <ng-option value="excel" class="custom-option">
          <div class="option-container">
            <i class="fas fa-file-excel"></i>
            <span class="custom-option-text">Excel</span>
          </div>
        </ng-option>
      </ng-select>
    </div>
  </div>

  <!-- Botón para agregar un nuevo módulo -->
  <button class="btn btn-success add-btn" (click)="openModal()">Agregar nuevo <i class="fas fa-plus"></i></button>
</div>

<div id="cityModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ assesment.id === 0 ? 'Agregar Criterio evaluativo' : 'Editar Criterio evaluativo' }}</h2>

        <hr class="modal-border">

        <form #assesmentForm="ngForm" (ngSubmit)="onSubmit(assesmentForm)">
            <input type="hidden" name="id" [(ngModel)]="assesment.id">

            <div class="row">
                <div class="col">
                    <label for="Name">Nombre:</label>
                    <input type="text" class="form-control input-field" id="Name" name="Name" [(ngModel)]="assesment.name" required>
                </div>

                <div class="col">
                    <label for="Description">Rango de calificación:</label>
                    <input type="number" class="form-control input-field" id="rating" name="Description"
                        [(ngModel)]="assesment.rating_range">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col">
                    <label for="TypeCriterian">Tipo de criterio:</label>
                    <select class="form-control input-field" id="TypeCriterian" name="typeCriterian" [(ngModel)]="assesment.type_criterian" required>
                        <option value="" disabled selected>Seleccione el tipo de criterio</option>
                        <option value="Sanidad">Sanidad</option>
                        <option value="Rendimiento">Rendimiento</option>
                        <option value="Fertilidad del Suelo">Fertilidad del Suelo</option>
                        <option value="Condiciones Climáticas">Condiciones Climáticas</option>
                        <option value="Control de Plagas">Control de Plagas</option>
                    </select>
                </div>

                <div class="col" *ngIf="assesment.id !== 0">
                    <label for="State">Estado:</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="State" name="State"
                            [(ngModel)]="assesment.state">
                    </div>
                </div>
            </div>
            <br>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>

        </form>
    </div>
</div>

<table *ngIf="filteredCriteria.length > 0" class="table">
    <thead>
        <tr>
          <th>
            <input 
              type="checkbox" 
              (change)="selectAll($event)" 
              [checked]="areAllSelected()" 
            />
          </th>
            <th>Nombre</th>
            <th>Rango de  calificación</th>
            <th>Tipo de criterio</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let assesment of paginatedCriteria()">
          <td>
            <label class="checkbox-container">
              <input type="checkbox" [(ngModel)]="assesment.selected" />
              <div class="checkbox-custom"></div>
            </label>
          </td>
            <td>{{ assesment.name }}</td>
            <td>{{ assesment.rating_range }}</td>
            <td>{{ assesment.type_criterian }}</td>
            <td>{{ assesment.state ? 'Activo' : 'Inactivo' }}</td>
            <td>
                <button class="btn-icon edit" (click)="editassesment(assesment)" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn-icon delete" (click)="deleteassesment(assesment.id)" title="Eliminar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<p *ngIf="filteredCriteria.length === 0">No se encontraron Criterio Evaluativos.</p>
<div class="data-table-footer">
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1" class="arrow">
      &laquo; <!-- Flecha izquierda -->
    </button>
  
    <ng-container *ngFor="let page of getPageNumbers()">
      <button 
        (click)="goToPage(page)" 
        [class.active]="currentPage === page"
      >
        {{ page }}
      </button>
    </ng-container>
  
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="arrow">
      &raquo; <!-- Flecha derecha -->
    </button>
  </div>
  
  <!-- Eliminar seleccionados -->
  <div class="delete-selected-container">
    <button 
      class="btn btn-danger" 
      (click)="deleteSelected()" 
      [disabled]="!hasSelected()"
    >
      <i class="fas fa-trash"></i> Eliminar seleccionados
    </button>
  </div>
</div>