<h2 class="title">Lista de Criterios de evaluación</h2>

<button class="btn btn-success add-btn" (click)="openModal()">Agregar nueva <i class="fas fa-plus"></i></button>

<div id="cityModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ assesment.id === 0 ? 'Agregar Assesment' : 'Editar Assesment' }}</h2>

        <hr class="modal-border">

        <form #assesmentForm="ngForm" (ngSubmit)="onSubmit(assesmentForm)">
            <input type="hidden" name="id" [(ngModel)]="assesment.id">

            <div class="row">
                <div class="col">
                    <label for="Name">Nombre:</label>
                    <input type="text" class="form-control" id="Name" name="Name" [(ngModel)]="assesment.name" required>
                </div>

                <div class="col">
                    <label for="Description">Rango de calificación:</label>
                    <input type="number" class="form-control" id="rating" name="Description"
                        [(ngModel)]="assesment.rating_range">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col">
                    <label for="Code">Tipo de criterio:</label>
                    <input type="text" class="form-control" id="Type-criterian" name="Code" [(ngModel)]="assesment.type_criterian"
                        required>
                </div>
                <div class="col">
                    <label for="State">Estado:</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="State" name="State"
                            [(ngModel)]="assesment.state">
                    </div>
                </div>
            </div>
            <br>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>

        </form>
    </div>
</div>

<table *ngIf="assesments.length > 0" class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Rango de calificación</th>
            <th>Tipo de criterio</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let assesment of assesments">
            <td>{{ assesment.name }}</td>
            <td>{{ assesment.rating_range }}</td>
            <td>{{ assesment.type_criterian }}</td>
            <td>{{ assesment.state ? 'Activo' : 'Inactivo' }}</td>
            <td>
                <button class="btn-icon edit" (click)="editassesment(assesment)" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn-icon delete" (click)="deleteassesment(assesment.id)" title="Eliminar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<p *ngIf="assesments.length === 0">No se encontraron assesments criterias.</p>